webfont('AGJB2', 'AGJB2')
webfont('TrumpMedRom', 'TrumpMedRom')

sans-serif()
	font-family AGJB2, Helvetica, Arial, sans-serif
	letter-spacing 0.07em

text()
	font-family TrumpMedRom, Times New Roman, serif
	font-size 1.6rem
	line-height 1.2

// Main font styles

::selection
	background alpha($secondary, 0.5)

::-moz-selection
	background alpha($secondary, 0.5)

body,html
	-webkit-text-size-adjust 100%

html
	font-size 16px
	+below($md)
		font-size 12px

body
	sans-serif()
	font-size $normal
	line-height 1
	text-rendering optimizeLegibility
	font-smoothing()

p
	line-height inherit
	&:not(:last-child)
		margin-bottom 1em

#page-panel
	a
		color $accent
		&:hover
			color $accent

.uppercase
	text-transform uppercase

.text-center
	text-align center

nav#menu a, #project-description, .description, #about-description
	line-height 1.2

#project-medias .caption, #contact, #credits, #right-nav
	font-size $normal
