nav#menu
	position fixed
	top 0
	left 0
	width 100%
	background $primary
	z-index 100
	box-shadow 0 1px $secondary
	padding 0 0 0 (1rem + $padding*3)
	+below($md)
		top 3rem
		padding $padding $padding 0
		z-index 100
	#homepage
		+above($md + 1)
			display none
	form
		display inline
		label
			float left
			cursor pointer
			+above($md + 1)
				margin-right 0.5em
		input
			display block
			padding 0
			margin 0
			font-family inherit
			letter-spacing inherit
			border 0
			font-size inherit
			width 0
			height 0
			opacity 0
			border-radius 0
			color $accent
			-webkit-appearance none
			-moz-appearance none
			-webkit-user-select initial
			-khtml-user-select initial
			-moz-user-select initial
			-ms-user-select initial
			user-select initial
			caret-color $accent
			+above($md + 1)
				float left
				position relative
				top 0.05em
			&:focus
				width auto
				height auto
				opacity 1
				+below($md)
					width 100%
					& + label
						color $accent
				+above($md + 1)
					& + label
						// display none
	+above($md + 1)
		label.mobile
			display none
	+below($md)
		label:not(.mobile)
			display none
		label.mobile.active
			color $accent
			& + *
				input
					height auto
					width 'calc(100vw - %s)' % ($padding*2)
					padding 0.4em
					opacity 1
					border 1px solid $secondary
		#search:hover
			input
				height auto
				width 'calc(100vw - %s)' % ($padding*2)
				padding 0.4em
				opacity 1
				border 1px solid $secondary
	& > a, & > *
		display block
		float left
		padding $padding 0
		+below($md)
			padding-top 0
		&:not(:last-child)
			margin-right 2.3rem
			+below($md)
				margin-right 1.5rem
		+above($md + 1)
			&:hover
				color $accent
	&.sticky
		position fixed
		transition transform 400ms ease
		&::after
			content ''
			position absolute
			height ($padding)
			width 100%
			bottom (-1*$padding)
			left 0
	&.sticky--pinned:not(.sticky--top)
		&::after
			visibility hidden
	+below($md)
		&.sticky--unpinned,
		&.sticky--top
			&:not(.sticky--force-pinned)
				// transform 'translateY(calc(-100% + %s)) translateZ(0)' % $padding
				transform 'translateY(calc(-100% - %s)) translateZ(0)' % (1px)
	+above($md + 1)
		&.sticky--unpinned:not(:hover),
		&.sticky--top:not(:hover)
			&:not(.sticky--force-pinned)
				// transform 'translateY(calc(-100% + %s)) translateZ(0)' % $padding
				transform 'translateY(calc(-100% - %s)) translateZ(0)' % (1px)


// #medias, #project-description
// 	transition transform 400ms ease

body.sticky--menu, #page-panel.visible
	.text-content, [event-target=close-panel]
		transition transform 400ms ease

+above($md + 1)
	body.sticky--menu
		#page-panel.visible
			.text-content, [event-target=close-panel]
				transform translateY(3rem) translateZ(0)

header
	#site-title
		position fixed
		top 0
		left 0
		width 100%
		background $primary
		z-index 101
		white-space nowrap
		box-shadow 0 1px 0 $secondary
		& > *
			padding $padding
			&:not(.hidden)
				display block
		&.active
			background $accent
			color $primary
		+above($md + 1)
			z-index 102
			box-shadow 1px 0 $secondary
			height 100%
			width (1rem + $padding*2)
			& > *
				position absolute
				top 0
				right (1rem + $padding*2)
				transform-origin top right
				transform rotate(-90deg)
				white-space nowrap
				padding $padding
			&:hover
				background $accent
				color $primary



