[page-type=project]
	#lightbox
		hideselect()
		// display none
		width 'calc(100% - %s)' % (1rem + 2*$padding)
		// padding-bottom (1rem + 2*$padding)
		position fixed
		top 0
		left (1rem + 2*$padding)
		background $primary
		box-shadow 0 1px $secondary
		z-index 95
		transform translateY(calc(-100% - 1px)) translateZ(0)
		+above($md + 1)
			height 'calc(100vh - %s)' % ($padding*3)
		+below($md)
			height 'calc(100vh - %s)' % ($padding*3)
			top ($padding*3)
			left 0
			width 100%
			overflow scroll
			-webkit-overflow-scrolling touch
		&.loaded
			transition transform 500ms $kinetic
		#lightbox-header
			position relative
			z-index 2
			height 4rem
			box-shadow -1px -1px 0 0 $secondary, 1px 1px 0 0 $secondary, -1px 1px 0 0 $secondary, 1px -1px 0 0 $secondary
			+above($md + 1)
				display none
			[event-target=lightbox]
				padding $padding
				svg
					display block
					width 2rem
					height 2rem
			[event-target=text]
				position absolute
				top 1.5rem
				right 1rem
				color $accent
		.project-description
			position absolute
			top 0
			left 0
			width $descriptionWidth
			height 100%
			border-right 1px solid
			background $primary
			cursor auto
			+below($md)
				position static
				width 100%
				border-right 0
				border-top 1px solid
		.flickity-viewport
			width 100%
		.flickity-slider
			transform none !important
		.slide
			width 100%
			left 0 !important
			z-index 0
			opacity 0
			+above($md + 1)
				height 100%
			.content
				width 100%
				+above($md + 1)
					padding-left $descriptionWidth
					height 100%
			img, video
				width 100%
				+above($md + 1)
					border-right 1px solid
					width auto
					height 100%
				+below($md)
					display block
					width 100%
					height auto
					// max-width 100%
					// max-height 70vh
					box-shadow -1px -1px 0 0 $secondary, 1px 1px 0 0 $secondary, -1px 1px 0 0 $secondary, 1px -1px 0 0 $secondary
			.content.video
				width 100%
				.plyr--ready
					width 100%
					height 100%
				video
					width 100%
					+above($md + 1)
						width auto
						height 100%
					// object-position top left
					// object-fit contain
			.content.wide
				+above($md + 1)
					img, video
						border-right 0
						border-bottom 1px solid
						width 100%
						height auto
			&.is-selected
				opacity 1
				z-index 1
		.flickity-prev-next-button
			opacity 0
			cursor none !important
			top 0
			height 100%
			width 50%
			margin-top 0
			background transparent
			padding 0
			transform none
			border none
			border-radius 0
			z-index 1
			overflow hidden
			+below($md)
				display none
			+above($md + 1)
				width 'calc((100% - %s) / 2)' % $descriptionWidth
			svg
				align()
				width 2rem
				height 2rem
				path
					fill $secondary
			&.previous
				left 0
				+above($md + 1)
					left $descriptionWidth
			&.next
				right 0
			&[disabled]
				+above($md)
					opacity 1
					display block
					pointer-events auto
			&:active
				opacity 1
			&:focus
				box-shadow none
				outline none
			&:not(:hover)
				svg
					display none

body.lightbox-on
	overflow hidden
	#lightbox
		// display block
		transform none
