.row.error
	padding $padding

[page-type=projects]
	#container
		padding-right 3rem
		+below($md)
			padding 3rem 0 0
	.row.error
		padding ($padding*4.5) $padding $padding
		+below($md)
			padding $padding

#project-description
	position fixed
	top 0
	left (1rem + $padding*2)
	width $descriptionWidth
	// height 'calc(100% - %s)' % $padding
	height 100%
	border-right 1px solid
	background $primary
	z-index 94
	+below($md)
		display none
	[event-target=text]
		position absolute
		bottom 0
		left 0
		color $accent
		padding $padding
	#project-texts
		display none

#timeline-date
	position fixed
	top 0
	right 0
	height 100%
	width (1rem + $padding*2)
	border-left 1px solid
	background $primary
	z-index 99
	// transform translateX(100%) translateZ(0)
	// transition transform 300ms ease
	// border-left 1px solid
	// background $primary
	pointer-events none
	+below($md)
		display none
	.inner
		align()
		transform rotate(-90deg) translateX(50%) translateY(-110%) translateZ(0)
	&.visible
		transform none


#medias
	span(1)
	opacity 0
	border-bottom 1px solid $secondary
	margin-left $descriptionWidth
	width 'calc(100% - %s)' % $descriptionWidth
	+below($md)
		margin-left 0
		width 100%
	.media
		display block
		float left
		box-shadow -1px -1px 0 0 $secondary, 1px 1px 0 0 $secondary, -1px 1px 0 0 $secondary, 1px -1px 0 0 $secondary
		overflow hidden
		.inner
			height 100%
			background $primary
		img
			display block
		.bullet
			position absolute
			width 13px
			height 13px
			bottom 0.7rem
			left 0.7rem
			background $accent
			border-radius 100%
			opacity 0
			z-index 2
			// transform scale(0.9)
		.hidden-images
			position absolute
			bottom 0.7rem
			right 0.7rem
			color $accent
			opacity 0
			z-index 2
			// transform scale(0.9)
		+above($md + 1)
			&:hover
				.bullet, .hidden-images
					opacity 1
					// transition transform 200ms ease-out
					// transform scale(1)
	&.no-fit
		.media
			height 14vw !important
			width auto !important
			img
				width auto
				height 100%
