#project-description, .project-description
	padding $padding
	.mb:not(:last-child)
		margin-bottom 1em
	#media-description
		&:empty
			display none
		&:not(:empty) + #default-description
			display none
	#default-description
		&:empty
			display none

[page-type=project]
	#container
		+below($md)
			padding 3rem 0 0
	#page-content
		position relative
	#medias
		margin-bottom ($padding*3)
	#overview-link
		position fixed
		bottom 0
		left ($padding*3)
		width 'calc(100% - %s)' % ($padding*3)
		height (1rem + 2*$padding)
		background $primary
		padding $padding
		border-top 1px solid $secondary
		z-index 97
		+below($md)
			position fixed
			left 0
			width 100%
		svg
			display block
			align()
			left $descriptionWidth
			height 2rem
			width 2rem
			path
				fill currentColor
		&::after
			content 'Overview'
		+above($md + 1)
			&:hover
				background $accent
				color $primary

